body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input, select {
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: 5px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

.wide-button {
    width: 60px; /* Nastavení šířky tlačítek na dvojnásobek */
}

#total-area {
    text-align: center;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
}
